body{
		font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
		font-size: 16px;
		line-height: 25px;

		color: #333;
	}

	div.sidebar{
		background-color: #000;
	}

	h1, h2, h3{
		font-family: "HelveticaNeueW01-45Light", "Helvetica", Arial, sans-serif;
		
		font-size: 18px;
		line-height: 24px;		
	}

	h1{
		font-family: "HelveticaNeueW01-75Bold", "HelveticaNeue-Bold", "Helvetica", Arial, sans-serif;
font-weight: 500;
		font-size: 75px;
		line-height: 75px;
		color:#000;
		letter-spacing: -2px;
	}

	h2{
		color:#000;
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 10px;
		border-bottom: 1px solid #000;
		letter-spacing: -1px;
	}

	h3{
		color:#555;
	}

	a{
		text-decoration: none;
		color: #929292;
	}

	p{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	/*ul{
		font-size: 21px;
		font-weight: 200;
		line-height: 30px;
		color: #eee;
		
	}*/