          <div class="band header">
            <div class="container">
              <div class="sixteen columns">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <h4>tagline</h4>
              </div>
            </div>
          </div>

           <div class="band nav">
            <div class="container">
              <div class="sixteen columns">
              	<a class="extra" href="/">home</a>
              	<a class="extra" href="/about">about</a>
              	<a class="extra" href="/projects">projects</a>
              	<!-- move search here -->
              </div>
            </div>
          </div>
          